{% extends "home/base.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/liste.css" />
{% endblock %}
{% block content %}

    <div style="padding-top: 100px;" class="container" >
        <div  class="section-header" >
            search result for
        </div>
        <div class="liste-item-sm" >
            <!-- MOVIE ITEM -->

            <a href="#" class="movie-item">
                <img src="https://fr.web.img2.acsta.net/medias/nmedia/18/62/81/09/18784915.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Theatre of the dead
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item">
                <img src="https://fr.web.img2.acsta.net/medias/nmedia/18/62/81/09/18784915.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Theatre of the dead
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->

        </div>
    </div>

{% endblock %}