:root {
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    --Dark-blue: #666158;
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

p{
    line-height: 1.5;
}
.bu-primary{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
    padding: .75rem 1.5rem;
}
.bu-primary:hover{
    background: #221f1f;
    color: #fff;
}

.comment-section{
    padding: 0 1rem;
}
.c-container{
    border-radius: 8px;
    padding: 1.5rem;
}
.comments-wrp {
    background-color: black;
    display: flex;
    flex-direction: column;
}
.comment-section{

    max-width: 100ch;
    margin: auto;
    margin-top: 1rem;
}
.comment{
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
        "user controls"
        "comment comment"
        "comment comment"
;
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    row-gap: 1rem;
    border: 1px solid #ccc;

}
.c-text{
    grid-area: comment;
    width: 100%;
}
.c-user{
    width: 100%;
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.usr-name{
    color: var(--Dark-blue);
    font-weight: 700;
}
.usr-img{
    height: 2rem;
    width: 2rem;
}

.c-controls{
    display: flex;
    gap: 1rem;
    color: var(--Moderate-blue);
    grid-area: controls;
    align-self: center;
    justify-self: flex-end;
}
.c-controls a{
    align-items: center;
}
.edit{
    color: var(--Moderate-blue);
}
.delete{
    color: var(--Soft-Red);
}
.control-icon{
    margin-right: .5rem;
}
.input-group {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-top: 0;
    border-radius: 8px;
}
.input-group-icon {
    display: flex;
    align-items: center;
    padding: 5px;
}
textarea {
    width: 100ch;
    height: 100px;
    padding: 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

@media screen and (max-width:640px) {
    .container{
        padding: .75rem;
    }
    .replies{
        padding-left: 1rem;
        margin-left: .5rem;
    }
    .comment{
        grid-template-areas:
            "user user user"
            "comment comment comment"
            "score ... controls"
    ;
        gap: .5rem;
    }
    .c-score{
        flex-direction: row;
        width: auto;
    }
    .reply-input{
        grid-template-areas:
            "input input input"
            "avatar ... button"
    ;
        grid-template-rows: auto min-content;
        align-items: center;
        gap: .5rem;
    }
    .reply-input img{
        height: 2rem;
        width: 2rem;
    }
    .reply-input textarea{
        height: 6rem;
        padding: .5rem;
        align-self: stretch;
    }
}

